.column-chart {
  position: relative;
}
.chart-column,
.plot-container {
  list-style: none;
  border: 5px solid #000;
}

.plot-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  min-height: 100px;
}

.plot-container li { 
  transition: width 2s, opacity 1s;
}

.plot-container li:hover { 
  opacity: 0.8; 
  width: 60px;

}

.column-chart .chart-column {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.column-chart .chart-column {
  background: #38596f;
  color: #ffffff;
  box-sizing: border-box;
}
/* 
.bar-chart {
  clear: both;
} */
.bar-chart .plot-container {
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}
